h3{
    margin-bottom: 1rem;
    margin-top: 2rem;
}

p{
    width: 60vw;
}

input{
    padding: 10px;
    margin: 1rem;
    border:  1px solid  rgb(155, 77, 202);
    border-radius: 5px;
}

label{
    font-size: 1rem;
}

.contentDiv{
    margin: 5rem;
}

#percentage-btn{
    background-color: white;
    border: none;
}

#percentage-btn:hover{
    background-color: rgb(155, 77, 202);
    border: none;
    color: white;
}

#percentage-difference-btn{
    background-color: white;
    border: none;
}

#percentage-difference-btn:hover{
    background-color: rgb(155, 77, 202);
    border: none;
    color: white;
}

#percentage-change-btn{
    background-color: white;
    border: none;
}

#percentage-change-btn:hover{
    background-color: rgb(155, 77, 202);
    border: none;
    color: white;
}

#answer{
    width: 20rem;
    border: none;
    color: rgb(155, 77, 202);
}